<div>
<h1>login</h1>
    {{!-- <form id='cookieForm' onsubmit='return false'> --}}
    <form id='cookieForm' action='/api/session/login' method="POST">
        <label for="username">email</label>
        <input name="email">
        <br>
        <label for="email">pass</label>
        {{!-- <input name="email"> --}}
        <input name="password">
        <input type="submit">
        </form>
    {{!-- <button onclick="getCookie()">ver cookie</button> --}}

</div>

{{!-- <script src="/static/js/cookiesetter.js"></script> --}}