<div>
<h1>login</h1>
    {{!-- <form id='cookieForm' onsubmit='return false'> --}}
    <form id='cookieForm' action='/api/session/login' method="POST">
        <label for="username">email</label>
        <input type="email" name="email" required placeholder="example@example">
        <br>
        <label for="email">pass</label>
        {{!-- <input name="email"> --}}
        <input type="password" name="password" required placeholder="*******">
        <input type="submit">
        </form>
        <div>
            <button><a href="/api/session/register">Regsitrate</a></button>
        </div>
    {{!-- <button onclick="getCookie()">ver cookie</button> --}}

</div>

{{!-- <script src="/static/js/cookiesetter.js"></script> --}}